* {
	margin: 2px;
	padding: 0;
	box-sizing: border-box;
}
.box {
	background-color: pink;
	border: 5px solid black;
	height: 300px;
}

@media(min-width: 568px){
	.container-1{
		display: flex;
	}

	.container-2{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

.container-1 div, .container-2 div{
	border: 5px solid black;
	padding: 5px;
	background-color: pink;
}

.container-1{
	height: 1000px;
	padding-bottom: 50px;
}

.box-1 {
	flex:1;
	order: 1;
	margin-right: 50px;
}

.box-2 {
	flex:1;
	order: 2;
}

.container-2-box{
	flex-basis: 32%;
	height: 500px;

}

header, footer {
	height: 200px;
}

header {
	margin-bottom: 40px;
}

footer {
	margin-top: 40px;
}